@import 'antd/dist/antd.less';
@import './theme.less';

.dev {
    width: min(100%, 48rem);
    margin-inline: auto;
    display: grid;
    grid-row-gap: 2rem;
    .topbar {
        .tps-container {
            @tp-btn-width: 10rem;
            @tp-btn-gap: 0.8rem;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 40px;
            .tps {
                position: absolute;
                display: flex;
                gap: @tp-btn-gap;
                left: calc(50% - (@tp-btn-width / 2 ));
                // scroll-snap-type: y mandatory;
                .ant-btn {
                    // scroll-snap-align: center;
                    font-weight: bold;
                    background-color: desaturate(@component-background, 6%);
                    border: 0;
                    color: #777;
                    width: @tp-btn-width;
                    &.active {
                        background-color: @component-background;
                        color: #FFF;
                    }
                }
            }
        }
        .status {
            margin-top: 0.6rem;
            text-align: center;
        }
    }
    .ant-card {
        border-radius: 1.2rem;
        .ant-card-body {
            &::before,&::after {
                content: none;
            }
            display: grid;
            grid-row-gap: 1.2rem;
            .ant-divider-horizontal {
                margin: 0;
                &.ant-divider-with-text {
                    &::before, &::after {
                        position: static;
                    }
                }
            }
        }
    }


    .ant-radio-group-solid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .ant-radio-button-wrapper {
            background: #171717;
            color: #555;
            border: unset;
            text-align: center;
            flex: 1;
        }
        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            background: @radio-btn-solid-checked-background;
            border-color: @radio-btn-solid-checked-border-color;
            color: @radio-btn-solid-checked-color;
            &::before {
                background-color: unset;
            }
        }
    }
    .sp-slider {
        @height: 2.85rem;
        @border-radius: 0.4rem;
        @label-top: -0.2rem;
        &.overload {
            .ant-slider .ant-slider-track {
                background-color: @sp-overload-bg-color;
            }
        }
        .label {
            font-weight: bold;
            position: relative;
            left: 0.6rem;
            top: @label-top;
            font-size: 0.8rem;
        }
        .pd-value {
            color: #CCC;
            font-size: 1rem;
            position: relative;
            top: calc(@height/1.3 * -1);
            left: 1rem;
            z-index: 2;
            pointer-events: none;
            mix-blend-mode: difference;
        }

        .sp-slider-clip {
            height: 2.85rem;
            width: 100%;
            border-radius: @border-radius;
            overflow: hidden;
        }

        .ant-slider {
            height: @height;
            margin: 0;
            padding: 0;
            .ant-slider-step {
                height: @height;
            }
            .ant-slider-rail {
                height: @height;
                border-radius: 0;
            }
            .ant-slider-track {
                height: @height;
                background-color: @sp-slider-track-color;
                border-radius: 0;
            }
            .ant-slider-handle {
                display: none;
            }
        }
    }
    .v-switch {
        justify-self: end;
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr;
        grid-column-gap: 0.4rem;
        .label {
            font-weight: bold;
            font-size: 0.7rem;
        }
    }
    .ant-switch-checked .ant-switch-inner {
        color: #444;
    }

    .pd-display{
        position: relative;
        .pd-measured-text {
            display: block;
        }
        .pd-measured-triangle {
            position: absolute;
            left: 26%;
            &::after {
                position: relative;
                left: -50%;
            }
        }
    }


    .triangle-up::after {
        content: '\25b2';
    }

    .triangle-down::after {
        content: '\25bc';
    }
}
