/* Ant Design theme variables override file
 * See all the available variables here:
 * https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 */

@import 'colors.less';

// example:
/*
@primary-color: green;
@layout-header-background: purple;
@text-color: red;
@text-color-secondary: orange;
@font-size-base: 2rem;
@layout-body-background: #DEAD00;
@heading-color: #FF00FF;
*/

/* antd variables */
@layout-body-background: @light-brown;

@primary-color: #3f3f3f;
@component-background: #3f3f3f;
@border-radius-base: 10px;
@slider-rail-background-color: #232323;

/* Custom variables */
@radio-btn-solid-checked-background: #CCC;
@radio-btn-solid-checked-border-color: @radio-btn-solid-checked-background;
@radio-btn-solid-checked-color: #222;

@sp-overload-bg-color: #ec1d43;
@sp-slider-track-color: #CCC;
@sp-slider-pd-value-color: #CCC;

@sp-tp-btn-inactive-color: #777;
@sp-tp-btn-inactive-background-color: desaturate(@component-background, 6%);
@sp-tp-btn-active-color: rgba(255, 255, 255, 0.85);
@sp-tp-btn-active-background-color: @component-background;

@sp-scroller-color: #d4fffc;

@sp-radio-button-wrapper-background: #171717;
@sp-radio-button-wrapper-color: #555;

@sp-switch-checked-color: #444;
