/* Ant Design theme variables override file
 * See all the available variables here:
 * https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 */

@import 'antd/dist/antd.dark.less';

// example:
/*
@primary-color: green;
@layout-header-background: purple;
@text-color: red;
@text-color-secondary: orange;
@font-size-base: 2rem;
@layout-body-background: #DEAD00;
@heading-color: #FF00FF;
*/
