@import "vendor/include-media";
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

.main-panel {
    min-height: 100vh;
    @include media(">=phone", "<=tablet") {
        .ant-layout-sider-zero-width-trigger, .ant-layout-sider {
            display: none;
        }
    }
    .main-layout {
        min-height: 100vh;
    }
    .content-wrapper {
        background: #fff;
        @include media(">=tablet") {
            padding: 2.6rem;
        }
        @include media("<tablet") {
            padding: 1rem;
        }
        height: 100%;
    }
    .mobile-navbar {
        display: none;
        background-color: #EEE;
        color: #666;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 4rem;
        @include media("<tablet") {
            display: flex;
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            &.active {
                color: #1890ff;
                font-weight: 800;
            }
        }
    }
}

.session-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .tp-panel {
        width: 100%;
        margin: 1rem 0;
    }
    .session-controls {
        margin: 1rem 0;
    }
}

.teleporter-list-view {
    padding: 1rem;
    @include media(">=phone", "<tablet") {
        margin-bottom: 3rem;
    }

    .teleporter-row {
        cursor: pointer;

        .ant-checkbox-wrapper {
            margin: 0 1rem;
        }
    }
    .selection-action-bar {
        span {
            margin: 0 1rem;
        }
    }
}

.teleporter-detail-view {
    .ipv4-form table, .ipv6-form table {
        margin-bottom: 1rem;
    }
}
